@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url("wall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  background-color: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px); 

  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.create{
    background-color: rgb(68, 113, 180);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
form {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
input{
    padding: 5px;
}

.submit {
  font-family: "Noto Sans", sans-serif;
  padding: 10px;
  background-color: #3c5774 ;
  border: none;
  border-radius: 7px;
  color: white;
  width: 100%;
}
.submit:hover{
      background-color: #2c3e50;
}

a {
  text-decoration: none;
}


html, body {
  margin: 0;
  padding: 0;
}
.main{
    margin-top: 120px;
}